{% extends 'base.html' %}
{% block content %}
    <head>
        <title>
            Blogs
        </title>
    </head>
    <div class="container border p-2 mt-2">
        <h1 class="display-4 text-center" id="blog">My Blogs</h1>
        <h3 class="text-muted text-center mb-4" id="nob">Utkarsh has written {{blogs.count}} blog{{blogs.count|pluralize}}</h3>
        {% for blog in blogs %}
        <a href="{% url 'blog:detail_blog' blog.id %}" id="blogs"><h2>{{blog.Blogtitle}}</h2></a>
        <p>{{blog.Blogdescription|striptags|truncatechars:250}}</p>
        <p class="text-muted">Date Created: {{blog.date|date:'F jS Y'}}</p>
        {% endfor %}
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  
{% endblock %}

